/* This file is for your main application css. */
@import "materialize";
@import "main";

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.department-card {
  width:220px;
  height:75px;
}
