/* This file is for your main application css. */
@import "materialize";
@import "main";

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.department-card {
  width:220px;
  height:75px;
}

.card-search-result {
  width:900px;
}

.breadcrumb:before {
  color: #2196f3 ;
}

.breadnav {
  background-color: transparent;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.identicon {
  margin: 5px;
}